
body {
  background: #10002e;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.center-some-text {
  text-align: center;
}

.header-topped {
  margin-top: 50px;
}

.get-off-my-neck {
  margin-top: 100px;
}