@{
  ViewData["Title"] = "Contact";
}
@{
  Layout = "_PersonalLayout";
}
@model KunDengWebsite.Models.EmailMessage

<div class="container shadow-sm bg-white justify-content-center">
  <br>
  <form asp-action="SendEmail" asp-controller="SendEmail">
    <div class="form-group">
      <label asp-for="FromEmail">Email Address</label>
      <input type="email" class="form-control" asp-for="FromEmail" placeholder="Email address" />
    </div>
    <div class="form-group">
      <label asp-for="Message">Message</label>
      <textarea class="form-control" asp-for="Message" rows="6" placeholder="Message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <br> <br>
  </form>
</div>
