@{
	ViewData["Title"] = "Home Page";
}
@{
	Layout = "_PersonalLayout";
}
<div class="container justify-content-center">
	<h1 class="text-white text-center">Hello</h1>
	<p class="text-white text-center">
		Welcome to my website... Not finished yet
	</p>
</div>
