@{
	ViewData["Title"] = "Home Page";
}
@{
	Layout = "_PersonalLayout";
}
<div class="container shadow-sm bg-white justify-content-center">
	<h1 class="display-1 text-dark text-center">Welcome</h1>
</div>
<div class="container shadow-sm bg-white justify-content-center">
	<p class="lead text-dark text-left">
		My name is Kun Deng. My profession is Software Development but I produce music as a hobby. 
		I have serveral projects from the Software Development realm as well as the musical realm.
	</p>
	<p class="lead text-dark text-left">
		All of my Software Projects are Open Source under the MIT License, if there is a particular
		project of mine that you find intersting please do not hesitate to contribute. These projects
		vary in technologies and tools. The most frequently used programming languages are C++, C#, and
		Kotlin. I have listed out ways in which one can contribute on certain projects. projects that 
		do not contain instructions on how to contribute can still benefit from contribution. Feel
		free to contact me either on Github by creating a new issue and stating your desire to contribute.
		You can also contact me on this website as well.
	</p>
	<p class="lead text-dark text-left">
		Other than working on code I like to produce and record music, purely as a means of self-expression.
		You can find some of my work on SoundCloud under the name of Kuoth. I am open to collaborating
		with others in music as well. The type of music I create is necessarily not tied to a certain
		genre. I like to draw elements from different genres whilst imprinting my own identity to create
		something unique.
	</p>
</div>
